body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  display: inline;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  line-height: 60px;
}

nav li a {
  padding: 5px;
  text-decoration: none;
  color: white;
  background-color: #099;
}

header {
  width: 100%;
  height: 60px;
  background-color: #7fcccc;
}

header h1 {
  display: inline-block;
  color: #099;
  margin: 0;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

form label {
  padding: 10px 0;
  display: inline-block;
}

.main {
  padding: 20px;
}
.main a {
  color: #099;
}

.main h2 {
  margin: 5px 0;
}

.main li {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
  text-align: left;
}

.main ul {
  text-align: center;
}

.show, input[type="submit"] {
  color: black !important;
  font: 16px Helvetica;
  display: inline-block;
  background-color: #7fcccc;
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: 0;
}
