<h1><%= @category.title %></h1>

<% @category.recipes.each do |recipe| %>
    <%= link_to("#{recipe.title}", recipe_path(recipe)) %><br>
    <img src="<%= recipe.image%>" width="200px">
<br><br>

  <% end %>